<!-- Footer -->
  <footer class="bkh-footer">
    <div class="container custom-container">
      <div class="bkh-footer-wrapper">
        <div class="bkh-footer-logo">
          <a routerLink="/home"><img src="/assets/images/footer-logo.png" class="responsive-img" alt="BKHLogo" /></a>
        </div>
        <div class="bkh-footer-social-navbar">
          <ul class="list-inline bkh-footer-social-navs">
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="mailto:arpit_jain@live.com"><i class="material-icons">drafts</i></a></li>
          </ul>
        </div>
        <div class="bkh-footer-navbar">
          <ul class="list-inline bkh-footer-navs">
            <li><a routerLink="/contactus">Contact |</a></li>
            <li><a routerLink="/terms">Terms of use |</a></li>
            <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<!-- End Footer -->
