<!-- Banner -->
  <div class="bkh-career-banner"></div>
<!-- End Banner -->

<!-- Career New -->
  <div class="bkh-cnew-container">
    <div class="container custom-container">
      <div class="row">
        <div class="col s12">
          <div class="bkh-cnew-wrapper">
            <div class="bkh-cnew-header center-align">
              <h3>Career At <span class="pistachio-color">Baklava House</span></h3>
            </div>
            <div class="bkh-cnew-title walnut-bgcolor center-align">
              <h4>We'are hiring</h4>
            </div>
            <div class="bkh-cnew-body">
              <p class="bkh-cnew-body-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.orem Ipsum is simply dummy text of the printing a</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Career New -->

<!-- Career New Application -->
  <div class="bkh-cnew-app-container">
    <div class="container custom-container">
      <div class="row">
        <div class="col s12">
          <div class="bkh-cnew-app-wrapper">
            <div class="bkh-cnew-app-heading center-align">
              <h4>Application Form</h4>
            </div>
            <div class="bkh-cnew-app-subheading center-align">
              <h6>Please provide all your detatails along with your resume</h6>
            </div>
            <div class="bkh-cnew-app-form-wrapper">
              <form method="post" action="">
                <div class="row">
                  <div class="col l3 m6 s12">
                    <h5 class="bkh-cnew-app-label">Personal Information</h5>
                    <h6 class="bkh-cnew-app-sublabel">Tell us something about yourself</h6>
                  </div>
                  <div class="input-field col l3 m6 s12">
                    <input type="text" name="name" id="name" class="validate bkh-cnew-app-input">
                    <label for="name" class="bkh-cnew-active-label">Your Name</label>
                  </div>
                  <div class="input-field col l3 m6 s12">
                    <input type="email" name="email" id="email" class="validate bkh-cnew-app-input">
                    <label for="email" class="bkh-cnew-active-label">Email</label>
                  </div>
                  <div class="input-field col l3 m6 s12">
                    <input type="tel" name="phone" id="phone" class="validate bkh-cnew-app-input">
                    <label for="phone" class="bkh-cnew-active-label">Phone</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col m3 s12">
                    <h5 class="bkh-cnew-app-label">CV/Resume</h5>
                    <h6 class="bkh-cnew-app-sublabel">Upload your cv/resume</h6>
                  </div>
                  <div class="input-field col m9 s12">
                    <div class="file-field input-field">
                      <div class="btn file-btn">
                        <span>Choose File</span>
                        <input type="file">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="No file choosen">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col m3 s12">
                    <h5 class="bkh-cnew-app-label">Cover Letter</h5>
                    <h6 class="bkh-cnew-app-sublabel">Insert your motivation</h6>
                  </div>
                  <div class="input-field col m9 s12">
                    <textarea id="coverletter" name="coverletter" class="materialize-textarea validate bkh-cnew-app-input" data-length="500"></textarea>
                    <label for="coverletter">Cover Letter</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col l3 m6 s12">
                    <h5 class="bkh-cnew-app-label">Questions</h5>
                    <h6 class="bkh-cnew-app-sublabel bkh-cnew-app-sublabel-last">Please fill in additional questions</h6>
                  </div>
                  <div class="input-field col l3 m6 s12">
                    <input placeholder="" type="number" name="workex" id="workex" class="validate bkh-cnew-app-input">
                    <label for="workex" class="active-label">Total work Experience</label>
                  </div>
                  <div class="input-field col l3 m6 s12">
                    <input placeholder="" type="text" name="city" id="city" class="validate bkh-cnew-app-input">
                    <label for="city" class="active-label">Current City</label>
                  </div>
                  <div class="input-field col l3 m6 s12 mg-sm">
                    <input placeholder="" type="text" name="salary" id="salary" class="validate bkh-cnew-app-input">
                    <label for="salary" class="active-label">Current Salary</label>
                  </div>
                  <div class="input-field col l9 offset-l3 s12">
                    <textarea placeholder="" id="other" name="other" class="materialize-textarea validate bkh-cnew-app-input" data-length="1000"></textarea>
                    <label for="other" class="active-label">Key reason why you would like to work withbaklava house</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 center-align">
                    <button type="submit" class="btn waves-effect waves-light bkh-cnew-app-submit">Submit Application</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Career New Application -->
