<!-- Banner -->
  <div class="bkh-menu-banner"></div>
<!-- End Banner -->

<!-- Menu List -->
  <div class="bkh-menu-wrapper">
    <div class="container custom-container">
      <div class="row">
        <div class="col l4 m6 s12" *ngFor="let dish of dishes">
          <div class="bkh-menu-list-item z-depth-2">
            <div class="bkh-menu-item-featured-img-wrap center-align">
              <img src="{{ dish.image }}" alt="BKHFoodItem" class="responsive-img bkh-menu-item-featured-img" />
            </div>
            <div class="bkh-menu-item-name center-align {{ dish.bg }}">
              <h5 class="bkh-menu-item-name">{{ dish.name }}</h5>
            </div>
            <div class="bkh-menu-item-body">
              <div class="bkh-menu-item-description">
                <p class="bkh-menu-item-details">
                  {{ dish.description }}
                </p>
                <p class="bkh-menu-item-details"><b>Tray Dimensions:</b> {{ dish.dimensions }}</p>
                <p class="bkh-menu-item-details"><b>Minimum Tray Weight:</b> {{ dish.weight }}</p>
              </div>
              <div class="bkh-menu-item-availability">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s6 left-align">
                      <h4 class="bkh-menu-item-avail-status valign">{{ dish.stock > 0 ? 'In Stock' : 'Out of Stock' }}</h4>
                    </div>
                    <div class="col s6 right-align">
                      <h3 class="bkh-menu-item-price valign">${{ dish.price }}</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkh-menu-item-cart-add">
                <form method="post" action="" name="addtocart">
                  <div class="row">
                    <div class="valign-wrapper">
                      <div class="col s5">
                        <div class="input-wrapper valign-wrapper">
                          <label for="qty" class="bkh-menu-qty-label col s2 valign">Qty:</label>
                          <div class="input-field col s4">
                            <input placeholder="Qty" id="qty" type="text" name="quant[{{ dish.id }}]" class="input-number" value="" min="0" max="{{ dish.stock }}" (change)="onChange($event)" (focusin)="onFocusIn($event)" (keydown)="onKeyDown($event)" />
                          </div>
                          <div class="btn-wrapper col s4">
                            <button type="button" class="btn btn-number" data-type="plus" attr.data-field="quant[{{ dish.id }}]" (click)="onClick($event)" [disabled]="!dish.stock"><i class="material-icons">add</i>
                            </button>
                            <button type="button" class="btn btn-number" data-type="minus" attr.data-field="quant[{{ dish.id }}]" (click)="onClick($event)" [disabled]="!dish.stock">
                              <i class="material-icons">remove</i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col s7 right-align">
                        <button class="waves-effect waves-light btn bkh-add-to-cart" type="button" [disabled]="!dish.stock">
                          <span class="bkh-cart-text">ADD TO CART</span>
                          <img src="/assets/images/cart.png" alt="BKHCart" class="bkh-cart-mobile">
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Menu List -->
