<!-- Banner -->
  <div class="bkh-menu-banner"></div>
<!-- End Banner -->

<!-- Menu List -->
  <div class="bkh-menu-wrapper">
    <div class="container custom-container">
      <div class="row">
        <div class="col l4 m6 s12">
          <div class="bkh-menu-list-item z-depth-2">
            <div class="bkh-menu-item-featured-img-wrap center-align">
              <img src="/assets/images/food-item1.jpg" alt="BKHFoodItem" class="responsive-img bkh-menu-item-featured-img" />
            </div>
            <div class="bkh-menu-item-name walnut-bgcolor center-align">
              <h5 class="bkh-menu-item-name">Walnut Baklava</h5>
            </div>
            <div class="bkh-menu-item-body">
              <div class="bkh-menu-item-description">
                <p class="bkh-menu-item-details">
                  32 Pieces, 3.5” x  3”  x  2” each, approximately.
                  Pistachios,Clarified Butter, Pure Cane Sugar, Phyllo Dough, Water and Organic Lemon Juice on all <b><em>Baklavas</em></b>.
                </p>
                <p class="bkh-menu-item-details"><b>Tray Dimensions:</b> 12.5”  x   9.5 “.</p>
                <p class="bkh-menu-item-details"><b>Minimum Tray Weight:</b> 2.5 lb., or 1134 g</p>
              </div>
              <div class="bkh-menu-item-availability">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s6 left-align">
                      <h4 class="bkh-menu-item-avail-status valign">in stock</h4>
                    </div>
                    <div class="col s6 right-align">
                      <h3 class="bkh-menu-item-price valign">$33</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkh-menu-item-cart-add">
                <form method="post" action="" name="addtocart">
                  <div class="row">
                    <div class="valign-wrapper">
                      <div class="col s5">
                        <div class="input-wrapper valign-wrapper">
                          <label for="qty" class="bkh-menu-qty-label col s2 valign">Qty:</label>
                          <div class="input-field col s4">
                            <input placeholder="Qty" id="qty" type="text" name="quant[1]" class="input-number" value="" min="0" max="100" />
                          </div>
                          <div class="btn-wrapper col s4">
                            <button type="button" class="btn btn-number"  data-type="plus" data-field="quant[1]"><i class="material-icons">add</i>
                            </button>
                            <button type="button" class="btn btn-number" data-type="minus" data-field="quant[1]">
                              <i class="material-icons">remove</i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col s7 right-align">
                        <button class="waves-effect waves-light btn bkh-add-to-cart" type="button">
                          <span class="bkh-cart-text">ADD TO CART</span>
                          <img src="/assets/images/cart.png" alt="BKHCart" class="bkh-cart-mobile">
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12">
          <div class="bkh-menu-list-item z-depth-2">
            <div class="bkh-menu-item-featured-img-wrap center-align">
              <img src="/assets/images/food-item2.jpg" alt="BKHFoodItem" class="responsive-img bkh-menu-item-featured-img" />
            </div>
            <div class="bkh-menu-item-name hazelnut-bgcolor center-align">
              <h5 class="bkh-menu-item-name">Hazelnut Baklava</h5>
            </div>
            <div class="bkh-menu-item-body">
              <div class="bkh-menu-item-description">
                <p class="bkh-menu-item-details">
                  32 Pieces, 3.5” x  3”  x  2” each, approximately.
                  Pistachios,Clarified Butter, Pure Cane Sugar, Phyllo Dough, Water and Organic Lemon Juice on all <b><em>Baklavas</em></b>.
                </p>
                <p class="bkh-menu-item-details"><b>Tray Dimensions:</b> 12.5”  x   9.5 “.</p>
                <p class="bkh-menu-item-details"><b>Minimum Tray Weight:</b> 2.5 lb., or 1134 g</p>
              </div>
              <div class="bkh-menu-item-availability">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s6 left-align">
                      <h4 class="bkh-menu-item-avail-status valign">in stock</h4>
                    </div>
                    <div class="col s6 right-align">
                      <h3 class="bkh-menu-item-price valign">$33</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkh-menu-item-cart-add">
                <form method="post" action="" name="addtocart">
                  <div class="row">
                    <div class="valign-wrapper">
                      <div class="col s5">
                        <div class="input-wrapper valign-wrapper">
                          <label for="qty" class="bkh-menu-qty-label col s2 valign">Qty:</label>
                          <div class="input-field col s4">
                            <input placeholder="Qty" id="qty" type="text" name="quant[2]" class="input-number" value="" min="0" max="100" />
                          </div>
                          <div class="btn-wrapper col s4">
                            <button type="button" class="btn btn-number"  data-type="plus" data-field="quant[2]"><i class="material-icons">add</i>
                            </button>
                            <button type="button" class="btn btn-number" data-type="minus" data-field="quant[2]">
                              <i class="material-icons">remove</i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col s7 right-align">
                        <button class="waves-effect waves-light btn bkh-add-to-cart" type="button">
                          <span class="bkh-cart-text">ADD TO CART</span>
                          <img src="/assets/images/cart.png" alt="BKHCart" class="bkh-cart-mobile">
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12">
          <div class="bkh-menu-list-item z-depth-2">
            <div class="bkh-menu-item-featured-img-wrap center-align">
              <img src="/assets/images/food-item3.jpg" alt="BKHFoodItem" class="responsive-img bkh-menu-item-featured-img" />
            </div>
            <div class="bkh-menu-item-name pistachio-bgcolor center-align">
              <h5 class="bkh-menu-item-name">Pistachio Baklava</h5>
            </div>
            <div class="bkh-menu-item-body">
              <div class="bkh-menu-item-description">
                <p class="bkh-menu-item-details">
                  32 Pieces, 3.5” x  3”  x  2” each, approximately.
                  Pistachios,Clarified Butter, Pure Cane Sugar, Phyllo Dough, Water and Organic Lemon Juice on all <b><em>Baklavas</em></b>.
                </p>
                <p class="bkh-menu-item-details"><b>Tray Dimensions:</b> 12.5”  x   9.5 “.</p>
                <p class="bkh-menu-item-details"><b>Minimum Tray Weight:</b> 2.5 lb., or 1134 g</p>
              </div>
              <div class="bkh-menu-item-availability">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s6 left-align">
                      <h4 class="bkh-menu-item-avail-status valign">in stock</h4>
                    </div>
                    <div class="col s6 right-align">
                      <h3 class="bkh-menu-item-price valign">$33</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkh-menu-item-cart-add">
                <form method="post" action="" name="addtocart">
                  <div class="row">
                    <div class="valign-wrapper">
                      <div class="col s5">
                        <div class="input-wrapper valign-wrapper">
                          <label for="qty" class="bkh-menu-qty-label col s2 valign">Qty:</label>
                          <div class="input-field col s4">
                            <input placeholder="Qty" id="qty" type="text" name="quant[3]" class="input-number" value="" min="0" max="100" />
                          </div>
                          <div class="btn-wrapper col s4">
                            <button type="button" class="btn btn-number"  data-type="plus" data-field="quant[3]"><i class="material-icons">add</i>
                            </button>
                            <button type="button" class="btn btn-number" data-type="minus" data-field="quant[3]">
                              <i class="material-icons">remove</i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col s7 right-align">
                        <button class="waves-effect waves-light btn bkh-add-to-cart" type="button">
                          <span class="bkh-cart-text">ADD TO CART</span>
                          <img src="/assets/images/cart.png" alt="BKHCart" class="bkh-cart-mobile">
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12">
          <div class="bkh-menu-list-item z-depth-2">
            <div class="bkh-menu-item-featured-img-wrap center-align">
              <img src="/assets/images/food-item4.jpg" alt="BKHFoodItem" class="responsive-img bkh-menu-item-featured-img" />
            </div>
            <div class="bkh-menu-item-name walnut-bgcolor center-align">
              <h5 class="bkh-menu-item-name">Walnut Baklava</h5>
            </div>
            <div class="bkh-menu-item-body">
              <div class="bkh-menu-item-description">
                <p class="bkh-menu-item-details">
                  32 Pieces, 3.5” x  3”  x  2” each, approximately.
                  Pistachios,Clarified Butter, Pure Cane Sugar, Phyllo Dough, Water and Organic Lemon Juice on all <b><em>Baklavas</em></b>.
                </p>
                <p class="bkh-menu-item-details"><b>Tray Dimensions:</b> 12.5”  x   9.5 “.</p>
                <p class="bkh-menu-item-details"><b>Minimum Tray Weight:</b> 2.5 lb., or 1134 g</p>
              </div>
              <div class="bkh-menu-item-availability">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s6 left-align">
                      <h4 class="bkh-menu-item-avail-status valign">in stock</h4>
                    </div>
                    <div class="col s6 right-align">
                      <h3 class="bkh-menu-item-price valign">$33</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkh-menu-item-cart-add">
                <form method="post" action="" name="addtocart">
                  <div class="row">
                    <div class="valign-wrapper">
                      <div class="col s5">
                        <div class="input-wrapper valign-wrapper">
                          <label for="qty" class="bkh-menu-qty-label col s2 valign">Qty:</label>
                          <div class="input-field col s4">
                            <input placeholder="Qty" id="qty" type="text" name="quant[4]" class="input-number" value="" min="0" max="100" />
                          </div>
                          <div class="btn-wrapper col s4">
                            <button type="button" class="btn btn-number"  data-type="plus" data-field="quant[4]"><i class="material-icons">add</i>
                            </button>
                            <button type="button" class="btn btn-number" data-type="minus" data-field="quant[4]">
                              <i class="material-icons">remove</i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col s7 right-align">
                        <button class="waves-effect waves-light btn bkh-add-to-cart" type="button">
                          <span class="bkh-cart-text">ADD TO CART</span>
                          <img src="/assets/images/cart.png" alt="BKHCart" class="bkh-cart-mobile">
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12">
          <div class="bkh-menu-list-item z-depth-2">
            <div class="bkh-menu-item-featured-img-wrap center-align">
              <img src="/assets/images/food-item5.jpg" alt="BKHFoodItem" class="responsive-img bkh-menu-item-featured-img" />
            </div>
            <div class="bkh-menu-item-name pistachio-bgcolor center-align">
              <h5 class="bkh-menu-item-name">Almond and Walnut Baklava</h5>
            </div>
            <div class="bkh-menu-item-body">
              <div class="bkh-menu-item-description">
                <p class="bkh-menu-item-details">
                  32 Pieces, 3.5” x  3”  x  2” each, approximately.
                  Pistachios,Clarified Butter, Pure Cane Sugar, Phyllo Dough, Water and Organic Lemon Juice on all <b><em>Baklavas</em></b>.
                </p>
                <p class="bkh-menu-item-details"><b>Tray Dimensions:</b> 12.5”  x   9.5 “.</p>
                <p class="bkh-menu-item-details"><b>Minimum Tray Weight:</b> 2.5 lb., or 1134 g</p>
              </div>
              <div class="bkh-menu-item-availability">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s6 left-align">
                      <h4 class="bkh-menu-item-avail-status valign">in stock</h4>
                    </div>
                    <div class="col s6 right-align">
                      <h3 class="bkh-menu-item-price valign">$33</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkh-menu-item-cart-add">
                <form method="post" action="" name="addtocart">
                  <div class="row">
                    <div class="valign-wrapper">
                      <div class="col s5">
                        <div class="input-wrapper valign-wrapper">
                          <label for="qty" class="bkh-menu-qty-label col s2 valign">Qty:</label>
                          <div class="input-field col s4">
                            <input placeholder="Qty" id="qty" type="text" name="quant[5]" class="input-number" value="" min="0" max="100" />
                          </div>
                          <div class="btn-wrapper col s4">
                            <button type="button" class="btn btn-number"  data-type="plus" data-field="quant[5]"><i class="material-icons">add</i>
                            </button>
                            <button type="button" class="btn btn-number" data-type="minus" data-field="quant[5]">
                              <i class="material-icons">remove</i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col s7 right-align">
                        <button class="waves-effect waves-light btn bkh-add-to-cart" type="button">
                          <span class="bkh-cart-text">ADD TO CART</span>
                          <img src="/assets/images/cart.png" alt="BKHCart" class="bkh-cart-mobile">
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12">
          <div class="bkh-menu-list-item z-depth-2">
            <div class="bkh-menu-item-featured-img-wrap center-align">
              <img src="/assets/images/food-item6.jpg" alt="BKHFoodItem" class="responsive-img bkh-menu-item-featured-img" />
            </div>
            <div class="bkh-menu-item-name walnut-bgcolor center-align">
              <h5 class="bkh-menu-item-name">Raisins and Walnut Baklava</h5>
            </div>
            <div class="bkh-menu-item-body">
              <div class="bkh-menu-item-description">
                <p class="bkh-menu-item-details">
                  32 Pieces, 3.5” x  3”  x  2” each, approximately.
                  Pistachios,Clarified Butter, Pure Cane Sugar, Phyllo Dough, Water and Organic Lemon Juice on all <b><em>Baklavas</em></b>.
                </p>
                <p class="bkh-menu-item-details"><b>Tray Dimensions:</b> 12.5”  x   9.5 “.</p>
                <p class="bkh-menu-item-details"><b>Minimum Tray Weight:</b> 2.5 lb., or 1134 g</p>
              </div>
              <div class="bkh-menu-item-availability">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s6 left-align">
                      <h4 class="bkh-menu-item-avail-status valign">in stock</h4>
                    </div>
                    <div class="col s6 right-align">
                      <h3 class="bkh-menu-item-price valign">$33</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkh-menu-item-cart-add">
                <form method="post" action="" name="addtocart">
                  <div class="row">
                    <div class="valign-wrapper">
                      <div class="col s5">
                        <div class="input-wrapper valign-wrapper">
                          <label for="qty" class="bkh-menu-qty-label col s2 valign">Qty:</label>
                          <div class="input-field col s4">
                            <input placeholder="Qty" id="qty" type="text" name="quant[6]" class="input-number" value="" min="0" max="100" />
                          </div>
                          <div class="btn-wrapper col s4">
                            <button type="button" class="btn btn-number"  data-type="plus" data-field="quant[6]"><i class="material-icons">add</i>
                            </button>
                            <button type="button" class="btn btn-number" data-type="minus" data-field="quant[6]">
                              <i class="material-icons">remove</i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col s7 right-align">
                        <button class="waves-effect waves-light btn bkh-add-to-cart" type="button">
                          <span class="bkh-cart-text">ADD TO CART</span>
                          <img src="/assets/images/cart.png" alt="BKHCart" class="bkh-cart-mobile">
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Menu List -->
