<!-- Banner -->
  <div class="bkh-career-banner"></div>
<!-- End Banner -->

<!-- Career New -->
  <div class="bkh-cnew-container">
    <div class="container custom-container">
      <div class="row">
        <div class="col s12">
          <div class="bkh-cnew-wrapper">
            <div class="bkh-cnew-header center-align">
              <h3>Career At <span class="pistachio-color">Baklava House</span></h3>
            </div>
            <div class="bkh-cnew-title walnut-bgcolor center-align">
              <h4>We'are hiring</h4>
            </div>
            <div class="bkh-cnew-body">
              <p class="bkh-cnew-body-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.orem Ipsum is simply dummy text of the printing a</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Career New -->

<!-- Career Open Position -->
  <div class="bkh-cnew-openpos-container">
    <div class="container custom-container">
      <div class="row">
        <div class="col s12">
          <div class="bkh-cnew-openpos-wrapper">
            <div class="bkh-cnew-openpos-heading center-align">
              <h4>Open Positions</h4>
            </div>
            <div class="bkh-cnew-openpos-tabs-container">
              <ul class="tabs tabs-fixed-width" id="bkh-cnew-openpos-tabs">
                <li class="tab col s2"><a class="active" href="#all">ALL</a></li>
                <li class="tab col s2"><a href="#sales">Sales</a></li>
                <li class="tab col s2"><a href="#customerservice">Customer Service</a></li>
                <li class="tab col s2"><a href="#marketing">Marketing</a></li>
                <li class="tab col s2"><a href="#manager">Manager</a></li>
              </ul>
            </div>
            <div class="bkh-cnew-openpos-tabscontent-container">
              <div id="all" class="col s12 bkh-tabs-content">
                <div class="row">
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="active bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="career-new-viewjob.html" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div id="sales" class="col s12 bkh-tabs-content">
                <div class="row">
                  <div class="col l4 m6 s12">
                    <a href="#!" class="active bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div id="customerservice" class="col s12 bkh-tabs-content">
                <div class="row">
                  <div class="col l4 m6 s12">
                    <a href="#!" class="active bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div id="marketing" class="col s12 bkh-tabs-content">
                <div class="row">
                  <div class="col l4 m6 s12">
                    <a href="#!" class="active bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div id="manager" class="col s12 bkh-tabs-content">
                <div class="row">
                  <div class="col l4 m6 s12">
                    <a href="#!" class="active bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col l4 m6 s12">
                    <a href="#!" class="bkh-cnew-pos-link">
                      <div class="bkh-cnew-pos-wrap">
                        <h5 class="bkh-cnew-pos-title">Job Title</h5>
                        <h6 class="bkh-cnew-pos-subtitle">Subtitle</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Career Open Position -->
