<!-- Banner -->
  <div class="bkh-menu-banner"></div>
<!-- End Banner -->

<!-- About Us -->
  <div class="bkh-about-container">
    <div class="container custom-container">
      <div class="row">
        <div class="col s12">
          <div class="bkh-about-wrapper">
            <div class="bkh-about-header center-align">
              <h3>Terms &amp; Conditions</h3>
            </div>
            <div class="bkh-about-title walnut-bgcolor center-align">
              <h5>Terms</h5>
            </div>
            <div class="bkh-about-body">
              <div class="bkh-about-body-text">
                <p class="bkh-about-body-content">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.orem Ipsum is simply dummy text of the printing a</p>
                <p class="bkh-about-body-content">
                  about the website Establishments, type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                </p>
              </div>
            </div>
            <div class="bkh-about-team-title pistachio-bgcolor center-align">
              <h5>Conditions</h5>
            </div>
            <div class="bkh-about-team-body">
              <div class="bkh-about-team-body-text">
                <p class="bkh-about-team-body-content">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.orem Ipsum is simply dummy text of the printing a
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End About Us -->
