<!-- Banner -->
  <div class="bkh-career-banner"></div>
<!-- End Banner -->

<!-- Career New -->
  <div class="bkh-cnew-container">
    <div class="container custom-container">
      <div class="row">
        <div class="col s12">
          <div class="bkh-cnew-wrapper">
            <div class="bkh-cnew-header center-align">
              <h3>Career At <span class="pistachio-color">Baklava House</span></h3>
            </div>
            <div class="bkh-cnew-title walnut-bgcolor center-align">
              <h4>We'are hiring</h4>
            </div>
            <div class="bkh-cnew-body">
              <p class="bkh-cnew-body-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.orem Ipsum is simply dummy text of the printing a</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Career New -->

<!-- Career Open Position -->
  <div class="bkh-cnew-viewjob-container" *ngIf="career">
    <div class="container custom-container">
      <div class="row">
        <div class="col s12">
          <div class="bkh-cnew-viewjob-wrapper">
            <div class="bkh-cnew-viewjob-heading center-align">
              <h4>Open Position</h4>
            </div>
            <div class="bkh-cnew-viewjob-breadcrumb-wrapper">
              <nav class="bkh-breadcrumb-nav">
                <div class="nav-wrapper">
                  <div class="col s12">
                    <a routerLink="/career" class="breadcrumb">All</a>
                    <span class="breadcrumb">{{ career.title }}</span>
                  </div>
                </div>
              </nav>
            </div>
            <div class="bkh-cnew-job-description-container">
              <div class="bkh-cnew-job-description-header">
                <div class="bkh-cnew-job-title">
                  <h4>{{ career.title }} <span class="bkh-cnew-job-city">- {{ career.city }}</span></h4>
                </div>
                <div class="bkh-cnew-job-apply">
                  <a routerLink="/career/apply" class="btn waves-effect waves-light bkh-cnew-apply-btn">Apply
                  <span>for this job</span> <i class="left material-icons">touch_app</i></a>
                </div>
              </div>
              <div class="bkh-cnew-job-description-body">
                <div class="bkh-cnew-job-description">
                  <h5 class="bkh-cnew-job-des-title">Job Description</h5>
                  <p class="bkh-cnew-job-des">
                    {{ career.description }}
                  </p>
                </div>
                <div class="bkh-cnew-job-requirement">
                  <h6 class="bkh-cnew-job-req-title">Requirements</h6>
                  <p class="bkh-cnew-job-req">
                    {{ career.requirement }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Career Open Position -->
