<!-- Home Wrapper -->
<div class="slider fullscreen" id="bkh-home-slider" materialize="slider">
  <ul class="slides" *ngIf="slides">
    <li *ngFor="let slide of slides">
      <img src="{{ slide.image }}" alt="BKHHome"> <!-- random image -->
      <div class="caption center-align">
        <h3 class="bkh-caption">{{ slide.caption }}</h3>
        <h5 class="bkh-home-subcaption light grey-text text-lighten-3">{{ slide.subcaption }}</h5>
      </div>
    </li>
  </ul>
</div>
<div class="buttons-wrapper">
  <div class="row center">
    <a class="waves-effect waves-light btn hoverable mg-rg" routerLink="/menu">
      <img src="/assets/images/pastry-clip.png">
      &nbsp;View Menu
    </a>
  </div>
</div>
<!-- End Home Wrapper -->
